pumpkin-pi-firebase-admin-key.json
PumpkinPi2.0/Pods/
PumpkinPi2.0/Podfile.lock
PumpkinPi2.0/PumpkinPi/GoogleService-Info.plist
PumpkinPi2.0/PumpkinPi2.0/GoogleService-Info.plist

FirebaseAPI/pumpkin-pi-firebase-admin-key.json

FlaskServer/pumpkin-pi-firebase-admin-key.json
FlaskServer/env/*


PumpkinPi/.build/
## User settings
PumpkinPi/xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
PumpkinPi/*.xcscmblueprint
PumpkinPi/*.xccheckout
